.grid-container {
    gap: 5px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    grid-gap: 5px; 
    
}

.img-content {
  max-width: 100%; 
  height: auto; 
}

.a-content {
  text-align: center; 
}

.folder:hover {
    background-color: #333;
}

 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  .row.content {
    height: 450px;
    text-align: left;
    
  }

  .sidenav {
    padding-top: 20px;
    background-color: #f5eee9;
    height: 120%;
    font-size: 25px;
  }
  
  .sidenav p a {
    font-weight: bold; 
    color: #333; 
    text-decoration: none; 
    transition: color 0.3s; 
  }
  
  .sidenav p a:hover {
    color: #007bff; 
  }


  footer {
    background-color: #555;
    color: white;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
  }
  
  .tabel-container {
    margin-top: 20px;
  }
 
  .table {
    text-align: center;
    margin-top: 20px;
  }
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 5px;
    }
    
  }
